
body {
	color: var(--layout-default-color);
	background: var(--layout-default-background);
}

aside {
	position: fixed;
	display: block;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 16px;
	width: 100%;
	height: 64px;
	background: var(--surface-default-foreground);
	box-sizing: border-box;
	z-index: 1024;
}

main {
	position: fixed;
	top: 64px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: scroll;
	z-index: 0;
}

aside ul {
	display: block;
	margin: 0px 128px 0px 0px;
	padding: 0px;
	list-style: none;
	text-align: left;
}

aside ul li {
	display: inline-block;
}

aside a {
	padding: 0px 4px;
	font-family: 'crystalline';
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}

aside button[data-action="radar"] {
	display: inline-block;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
	padding: 0px 8px;
	color: var(--element-active-color);
}

aside button[data-action="radar"]:before {
	display: inline;
	margin: 0px 4px 0px 0px;
	content: '\e8e1';
	vertical-align: top;
	line-height: 32px;
}

aside button[data-action="radar"]:after {
	display: inline;
	content: 'Radar';
	vertical-align: top;
	line-height: 32px;
}

header {
	display: block;
	width: 512px;
	height: auto;
	margin: 0px auto;
	padding: 256px 0px;
	box-sizing: content-box;
}

header svg {
	display: block;
	width: 128px;
	height: 128px;
	margin: 0px auto 32px auto;
	padding: 0px;
	border: 0px solid transparent;
}

header h1 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'crystalline';
	font-size: 48px;
	font-weight: 500;
	line-height: 64px;
	text-align: center;
	text-transform: uppercase;
}

header h2 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'crystalline';
	font-size: 32px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
}

header p {
	display: block;
	width: 512px;
	margin: 0px auto 16px auto;
	font-family: 'museo';
	font-size: 20px;
	font-weight: normal;
	text-align: justify;
}

header p:nth-of-type(1) {
	margin-top: 64px;
}

section > article {
	width: 544px;
	margin: 256px auto 256px auto;
	min-height: 288px;
}

section > article:nth-of-type(1) {
	margin-top: 0px;
}

section > article > figure {
	display: block;
	position: absolute;
	width: 512px;
	height: 256px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	user-select: none;
}

section > article figure > svg {
	display: block;
	width: 512px;
	height: 256px;
	user-select: none;
}

section > article:nth-of-type(odd) {
	transform: translate(calc(-50% - 16px));
}

section > article:nth-of-type(odd) > figure {
	transform: translate(calc(100% + 32px + 16px), -49px);
}

section > article:nth-of-type(even) {
	transform: translate(calc(50% + 16px));
}

section > article:nth-of-type(even) > figure {
	transform: translate(calc(-100% - 32px - 16px), -49px);
}



@media screen and (max-width: 1184px) {

	section > article:nth-of-type(odd) {
		transform: unset;
	}

	section > article:nth-of-type(odd) > figure {
		transform: unset;
	}

	section > article:nth-of-type(even) {
		transform: unset;
	}

	section > article:nth-of-type(even) > figure {
		transform: unset;
	}

	section > article > figure {
		position: static;
		width: 512px;
		margin: 64px auto;
	}

}



@media screen and (max-width: 560px) {

	aside {
		overflow-x: auto;
		overflow-y: hidden;
	}

	aside button[data-action="radar"] {
		position: static;
		top: unset;
		right: unset;
		bottom: unset;
		left: unset;
		background: var(--surface-default-foreground);
		z-index: 1024;
	}

	aside button[data-action="radar"]:before {
		margin: 0px;
	}

	aside button[data-action="radar"]:after {
		display: none;
	}

	aside ul {
		width: fit-content;
		margin: 0px;
		white-space: nowrap;
	}

	header {
		width: auto;
	}

	header p {
		width: auto;
		padding: 16px;
	}

	section > article {
		width: auto;
	}

	section > article > figure {
		width: auto;
		height: auto;
	}

	section > article > figure > svg {
		width: auto !important;
		height: auto !important;
	}

}



@media screen and (max-height: 800px) {

	header {
		padding: 64px 0px;
	}

	section > article {
		margin: 128px auto 128px auto;
	}

}

