
@import url("../common/index.css");
@import url("../common/elements.css");
@import url("../common/layout.css");
@import url("../common/theme.css");
@import url("../common/view.css");



section > article {
	min-height: unset;
}

section > article:nth-of-type(2) {
	margin-bottom: 0px;
}

section > article#commercial-plans {
	width: 100%;
	margin-top: 64px;
	padding: 0px;
	background: transparent;
	border: 1px solid transparent;
	text-align: center;
}

section > article#commercial-plans > div {
	display: inline-block;
	position: relative;
	width: 260px;
	min-height: 352px;
	margin: 0px 16px 0px 0px;
	padding: 8px;
	background: var(--surface-default-background);
	border: 1px solid var(--surface-default-color);
	text-align: left;
	vertical-align: top;
	border-radius: 8px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
}

section > article#commercial-plans > div:last-child {
	margin-right: 0px;
}

section > article#commercial-plans > div > h3 {
	text-align: center;
}

section > article#commercial-plans button[data-action="register"] {
	display: block;
	position: absolute;
	top: auto;
	right: 8px;
	bottom: 8px;
	left: auto;
	margin: 0px;
	padding: 0px 8px;
	border: 1px solid var(--element-default-color);
	background: var(--surface-default-background);
}

section > article#commercial-plans > div:hover,
section > article#commercial-plans > div.active {
	min-height: 356px;
	transform: translate(0px, -4px);
	border: 2px solid var(--element-active-color);
}

section > article#commercial-plans > div:hover button[data-action="register"],
section > article#commercial-plans > div.active button[data-action="register"] {
	color: var(--element-active-color);
}

