
#we-uncover-the-web svg circle,
#we-uncover-the-web svg path {
	cursor: pointer;
	transition: 500ms all ease-out;
}

#we-uncover-the-web svg:hover g:nth-of-type(1) path {
	stroke: #22ccff;
}

#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(2) { transition-delay: 100ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(3) { transition-delay: 200ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(4) { transition-delay: 300ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(5) { transition-delay: 400ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(6) { transition-delay: 500ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(7) { transition-delay: 600ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(8) { transition-delay: 700ms; }
#we-uncover-the-web svg:hover g:nth-of-type(1) path:nth-of-type(9) { transition-delay: 800ms; }

#we-uncover-the-web svg:hover g:nth-of-type(2) circle {
	fill: #22ccff;
	transition-delay: 900ms;
}

#we-uncover-the-web svg:hover g:nth-of-type(2) path {
	stroke: #22ccff;
	transition-delay: 900ms;
}

#we-extract-the-web svg circle,
#we-extract-the-web svg path,
#we-extract-the-web svg rect {
	cursor: pointer;
	transition: 500ms all ease-out;
}

#we-extract-the-web svg g:hover circle {
	fill: #22ccff;
}

#we-extract-the-web svg g:hover path {
	stroke: #22ccff;
	stroke-dasharray: unset;
}

#we-extract-the-web svg g:hover rect {
	fill: #22ccff;
}

#we-extract-the-web svg g:hover rect[stroke] {
	fill: transparent;
	stroke: #22ccff;
}

