
#we-uncover-the-web svg g circle,
#we-uncover-the-web svg g path {
	transition: 500ms all ease-out;
	cursor: pointer;
}

#we-uncover-the-web svg g:hover > g > circle {
	fill: #22ccff;
}

#we-uncover-the-web svg g:hover > path,
#we-uncover-the-web svg g:hover > g > path {
	stroke: #22ccff;
}

#we-uncover-the-web svg g > path:nth-of-type(2) { transition-delay:  50ms; }
#we-uncover-the-web svg g > path:nth-of-type(3) { transition-delay: 100ms; }
#we-uncover-the-web svg g > path:nth-of-type(4) { transition-delay: 150ms; }
#we-uncover-the-web svg g > path:nth-of-type(5) { transition-delay: 200ms; }
#we-uncover-the-web svg g > path:nth-of-type(6) { transition-delay: 250ms; }
#we-uncover-the-web svg g > path:nth-of-type(7) { transition-delay: 300ms; }
#we-uncover-the-web svg g > path:nth-of-type(8) { transition-delay: 350ms; }
#we-uncover-the-web svg g > path:nth-of-type(9) { transition-delay: 400ms; }
#we-uncover-the-web svg g > g > circle          { transition-delay: 500ms; }
#we-uncover-the-web svg g > g > path            { transition-delay: 500ms; }



#we-extract-the-web svg g circle,
#we-extract-the-web svg g path,
#we-extract-the-web svg g rect {
	transition: 500ms all ease-out;
	cursor: pointer;
}

#we-extract-the-web svg g:hover circle {
	fill: #22ccff;
}

#we-extract-the-web svg g:hover path {
	stroke: #22ccff;
	stroke-dasharray: unset;
}

#we-extract-the-web svg g:hover rect {
	fill: #22ccff;
}

#we-extract-the-web svg g:hover rect[stroke] {
	fill: transparent;
	stroke: #22ccff;
}



#we-automate-the-web svg g circle,
#we-automate-the-web svg g rect,
#we-automate-the-web svg g text {
	transition: 400ms all ease-out;
	cursor: pointer;
}

#we-automate-the-web svg g text {
	font-family: 'crystalline';
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	stroke: #ffffff;
	stroke-width: 1px;
	transform: translate(0.5px, 1.5px);
}

#we-automate-the-web svg g:hover circle {
	fill: #22ccff;
	stroke: #22ccff;
}

#we-automate-the-web svg g:hover rect {
	fill: #22ccff;
}

#we-automate-the-web svg g:hover rect[stroke] {
	fill: transparent;
	stroke: #22ccff;
}



#we-understand-the-web svg g circle,
#we-understand-the-web svg g path,
#we-understand-the-web svg g rect {
	transition: 500ms all ease-out;
	cursor: pointer;
}

#we-understand-the-web svg g:hover circle {
	fill: #22ccff;
	stroke: #22ccff;
}

#we-understand-the-web svg g:hover path {
	fill: #22ccff;
	stroke: #22ccff;
}

#we-understand-the-web svg g:hover rect {
	fill: #22ccff;
}

